@import "compass/css3";

html, body {
    /*  Esto se aplicara a todo la enmaquetacion */
    font-size: 4px;
    font-family: Trebuchet MS;
}

.books-container {
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    background-color: #F5FCFB;
    justify-content: center;
    justify-content: space-around;

} 

.book-item{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); /*Esto da sombra a la imagen */
    margin-bottom: 2rem;
    overflow: hidden;   /* Para que la imagen se recorte y no hayan barras de posición */
    width: 226px;
}

.book__image {
    background-position: center;
    background-size: cover;
    height: 70rem
}

.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
    font-style: black;
}

.book__size {
    color: #777777;
    font-size: 3rem;
}

.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}

.book__more {
  border: none;
  background-color: white;
  position: absolute;
  padding: 16px 14px;
  text-align: right;
  display: inline-block;
  color:  #cccccc;
}

.book__more:hover {
  color:  #818181;
}
